auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9095
  http_grpc_server_idle_timeout: 5m
  http_server_read_timeout: 5m
  http_server_write_timeout: 5m

ingester:
  lifecycler:
    address: 0.0.0.0
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 1m
  chunk_retain_period: 1m
  max_transfer_retries: 0

schema_config:
  configs:
    - from: 2020-10-15
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 168h  # Период индексации данных, пример: 7 дней

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h  # Максимальный возраст логов, по умолчанию 7 дней

chunk_store_config:
  max_look_back_period: 0s  # Ограничение на просмотр старых данных

table_manager:
  retention_deletes_enabled: false
  retention_period: 0s  # Убирает удаление данных по времени, можно настроить по необходимости
