global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]
  - job_name: 'cadvisor'
    static_configs:
      - targets: [ 'vpn-boriska.ru:8080','help-blocks.ru:8080', '46.17.43.143:8080' ]
  - job_name: 'node-exporter'
    static_configs:
      - targets: [ 'vpn-boriska.ru:9100','help-blocks.ru:9100', '46.17.43.143:9100' ]




