global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: [ 'localhost:9090' ]
  - job_name: 'cadvisor'
    static_configs:
      - targets: [ '91.149.219.221:8080','45.147.200.5:8080', '46.17.43.143:8080' ]
  - job_name: 'node-exporter'
    static_configs:
      - targets: [ '91.149.219.221:9100','45.147.200.5:9100', '46.17.43.143:9100' ]




