name: Linters Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy-server-1:
    runs-on: ubuntu-latest
    environment: prod
    if: github.ref == 'refs/heads/main' && env.DEPLOY_ENV == 'prod'

    steps:
      - uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: ssh-keyscan -H ${{ secrets.SERVER1_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to Server 1
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER1_IP }} << 'EOF'
          cd production/monitoring || exit
          git pull origin main
          docker compose down
          docker compose up -d --build
          EOF

  deploy-server-2:
    runs-on: ubuntu-latest
    environment: prod
    if: github.ref == 'refs/heads/main' && env.DEPLOY_ENV == 'prod'

    steps:
      - uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: ssh-keyscan -H ${{ secrets.SERVER2_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to Server 2
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER2_IP }} << 'EOF'
          cd production/monitoring || exit
          git pull origin main
          docker compose down
          docker compose up -d --build
          EOF

  deploy-server-3:
    runs-on: ubuntu-latest
    environment: prod
    if: github.ref == 'refs/heads/main' && env.DEPLOY_ENV == 'prod'

    steps:
      - uses: actions/checkout@v4

      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - run: ssh-keyscan -H ${{ secrets.SERVER3_IP }} >> ~/.ssh/known_hosts

      - name: Deploy to Server 3
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER3_IP }} << 'EOF'
          cd production/monitoring || exit
          git pull origin main
          docker compose down
          docker compose up -d --build
          EOF
